---
# Pandas
---

How to use this notebook:

- First, work through the prerequisites in [1. Prerequisites](#1-prerequisites).
- Then, work though [2. The Pandas Series Object](#2-the-pandas-series-object) to [15. Saving and Loading Series and DataFrames](#15-saving-and-loading-series-and-dataframes).
  - Note that you don't have to work through all chapters at once.
  - The various chapters are also meant as a reference if you need to re-visit a specific Pandas concept.
- If you want to clean up any files created by this notebook, you can also work through [16. Cleanup](#16-cleanup).

This notebook covers:

- [1. Prerequisites](#1-prerequisites) 
- [2. The Pandas Series Object](#2-the-pandas-series-object)
  - [2.1 Creating Pandas Series](#21-creating-pandas-series)
  - [2.2 Indexing and Slicing in Pandas Series](#22-indexing-and-slicing-in-pandas-series)
- [3. The Pandas DataFrame Object](#3-the-pandas-dataframe-object)
  - [3.1 Creating Pandas DataFrames](#31-creating-pandas-dataframes)
  - [3.2 Indexing and Slicing in Pandas DataFrames](#32-indexing-and-slicing-in-pandas-dataframes)
- [4. The Pandas Index Object](#4-the-pandas-index-object)
  - [4.1 Creating Pandas Index](#41-creating-pandas-index)
  - [4.2 Indexing and Slicing in a Pandas Index](#42-indexing-and-slicing-in-a-pandas-index)
- [5. Data Indexing and Selection in Series](#5-data-indexing-and-selection-in-series)
  - [5.1 Dictionary Operations](#51-dictionary-operations)
  - [5.2 List Operations](#52-list-operations)
  - [5.3 Masking and Fancy Indexing](#53-masking-and-fancy-indexing)
  - [5.4 Explicit and Implicit Indexing](#54-explicit-and-implicit-indexing)
- [6. Data Indexing and Selection in DataFrames](#6-data-indexing-and-selection-in-dataframes)
  - [6.1 Dictionary Operations](#61-dictionary-operations)
  - [6.2 Accessing the Underlying Numpy Array](#62-accessing-the-underlying-numpy-array)
  - [6.3 Explicit and Implicit Indexing](#63-explicit-and-implicit-indexing)
- [7. Operating on Data in Pandas (ufuncs)](#7-operating-on-data-in-pandas-ufuncs)
- [8. Handling Missing Values](#8-handling-missing-values)
  - [8.1 Missing Values in Pandas Series and DataFrames](#81-missing-values-in-pandas-series-and-dataframes)
  - [8.2 Introducing Missing Values into a Series or DataFrame](#82-introducing-missing-values-into-a-series-or-dataframe)
  - [8.3 Detecting Missing Values](#83-detecting-missing-values)
  - [8.4 Dropping Missing Values](#84-dropping-missing-values)
  - [8.5 Imputing Missing Values](#85-imputing-missing-values)
- [9. Combining Datasets: Concat](#9-combining-datasets-concat)
  - [9.1 Concatenating Series and DataFrames](#91-concatenating-series-and-dataframes)
  - [9.2 Concatenating Series](#92-concatenating-series)
  - [9.3 Concatenating DataFrames](#93-concatenating-dataframes)
  - [9.4 Concatenating Along an Axis](#94-concatenating-along-an-axis)
  - [9.5 Index Preservation During Concatenation](#95-index-preservation-during-concatenation)
  - [9.6 Ignoring Index Preservation During Concatenation](#96-ignoring-index-preservation-during-concatenation)
  - [9.7 Concatenation with Outer Join](#97-concatenation-with-outer-join)
  - [9.8 Concatenation with Inner Join](#98-concatenation-with-inner-join)
- [10. Combining Datasets: Merge](#10-combining-datasets-merge)
  - [10.1 Merging Series and DataFrames](#101-merging-series-and-dataframes)
  - [10.2 One-To-One Merge Example](#102-one-to-one-merge-example)
  - [10.3 One-To-Many Merge Example](#103-one-to-many-merge-example)
  - [10.4 Many-To-Many Merge Example](#104-many-to-many-merge-example)
  - [10.5 Merging on a Common Column](#105-merging-on-a-common-column)
  - [10.6 Merging on Different DataFrame Columns](#106-merging-on-different-dataframe-columns)
  - [10.7 Merging and Dropping Superfluous Columns](#107-merging-and-dropping-superfluous-columns)
  - [10.8 Merging on DataFrame Indices](#108-merging-on-dataFrame-indices)
  - [10.9 Merging on an Index and a Column](#109-merging-on-an-index-and-a-column)
  - [10.10 Merging with Inner Join](#1010-merging-with-inner-join)
  - [10.11 Merging with Outer Join](#1011-merging-with-outer-join)
  - [10.12 Merging with Left Join](#1012-merging-with-left-join)
  - [10.13 Merging with Right Join](#1013-merging-with-right-join)
  - [10.13 Merging DataFrames with Common Non-Key Colums](#1013-merging-dataframes-with-common-non-key-colums)
- [11. Aggregation](#11-aggregation)
  - [11.1 Aggregation Methods](#111-aggregation-methods)
  - [11.2 Aggregating Along an Axis](#112-aggregating-along-an-axis)
  - [11.3 Summary Statistics with the `describe` Method](#113-summary-statistics-with-the-describe-method)
- [12. Grouping](#12-grouping)
  - [12.1 The Split-Apply-Merge Scheme](#121-the-split-apply-merge-scheme)
  - [12.2 Grouping on a Column and Calculating the Sum](#122-grouping-on-a-column-and-calculating-the-sum)
  - [12.3 Grouping on a Column and Calculating the Median](#123-grouping-on-a-column-and-calculating-the-median)
  - [12.4 Grouping and Using the `aggregate` Method](#124-grouping-and-using-the-aggregate-method)
  - [12.5 Grouping and Using the `filter` Method](#125-grouping-and-using-the-filter-method)
  - [12.6 Grouping and Using the `transform` Method](#126-grouping-and-using-the-transform-method)
  - [12.7 Grouping and Using the `apply` Method](#127-grouping-and-using-the-apply-method)
- [13. Vectorized String Operations](#13-vectorized-string-operations)
  - [13.1 Using the `str` attribute with String Methods](#131-using-the-str-attribute-with-string-methods)
- [14. Working with Time Series](#14-working-with-time-series)
  - [14.1 Date and Time Data Types in Pandas](#141-date-and-time-data-types-in-pandas)
  - [14.2 Dates and Times in Python](#142-dates-and-times-in-python)
  - [14.3 Dates and Times in Numpy](#143-dates-and-times-in-numpy)
  - [14.4 Dates and Times in Pandas](#144-dates-and-times-in-pandas)
  - [14.5 DatetimeIndex and Indexing](#145-datetimeindex-and-indexing)
  - [14.6 to_datetime(), to_period(), and to_timedelta()](#146-to_datetime-to_period-and-to_timedelta)
  - [14.7 date_range(), period_range(), and timedelta_range()](#147-date_range-period_range-and-timedelta_range)
  - [14.8 Resampling a Time Series](#148-resampling-a-time-series)
  - [14.9 Shifting a Time Series (by Value)](#149-shifting-a-time-series-by-value)
  - [14.10 Shifting a Time Series (by Index)](#1410-shifting-a-time-series-by-index)
  - [14.11 Rolling Aggregates](#1411-rolling-aggregates)
- [15. Saving and Loading Series and DataFrames](#15-saving-and-loading-series-and-dataframes)
  - [15.1 CSV, Excel, JSON, and Pickle Files](#151-csv-excel-json-and-pickle-files)
  - [15.2 Saving a DataFrame to a CSV, Excel, JSON, and a Pickle File](#152-saving-a-dataFrame-to-a-csv-excel-json-and-a-pickle-file)
  - [15.3 Loading a DataFrame from a CSV File](#153-loading-a-dataframe-from-a-csv-file)
  - [15.4 Loading a DataFrame from an Excel File](#154-loading-a-dataframe-from-an-excel-file)
  - [15.5 Loading a DataFrame from a JSON File](#155-loading-a-dataframe-from-a-json-file)
  - [15.6 Loading a DataFrame from a Pickle File](#156-loading-a-dataframe-from-a-pickle-file)
- [16. Cleanup](#16-cleanup)

---
# 1. Prerequisites
---

Let's make sure you have a working Python virtual environment.

- If you don't already have a working environment, run the code below in a terminal (Windows/Linux: `Ctrl + J`, MacOS: `Cmd + J`).

  ```bash
  conda create -y -p ./.conda python=3.12
  conda activate ./.conda
  python -m pip install --upgrade pip
  pip install ipykernel jupyter pylance numpy pandas matplotlib seaborn bokeh plotly
  pip install dash dash-bootstrap-components openpyxl lxml pycountry
  ```

- Then, make sure you have chosen that environment by clicking `Select Kernel` in the top right of this Notebook.

Alternatively, you can run this Notebook in Google CoLab.
- Click [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/paga-hb/C1VI1B_2025/blob/main/workshop2/pandas.ipynb)

- In Google CoLab, choose `File -> Save a Copy in Drive`.
- Now you can work through the Notebook cells in Google CoLab.

---
# 2. The Pandas Series Object
---

- Pandas i built on top of NumPy, and provides an efficient implementation of a `Series` and `DataFrame` object, including an `Index` object.
- A `Series` is a one-dimensional array of indexed data of one data type.
- A `DataFrame` is a multi-dimensional array with attached row and column labels, often with heterogeneous types and/or missing data (`NaN`, `None`).
- An `Index` object is used to index into a `Series` or `DataFrame`.
- Pandas also implements a number of powerful data operations similar to database frameworks and spreadsheet programs.

To use Pandas, we need to:
- `pip install pandas`
- `import pandas as pd`

---
## 2.1 Creating Pandas Series

- We can use `pd.Series(data)` to create a Pandas series, where `data` can be a NumPy array, a Python list, or a Python dictionary.
- In the print out below, we see a series object wraps both a sequence of values (right column) and a sequence of indices (left column), and has a specific data type (last row).

In [ ]:
import numpy as np
import pandas as pd

data = np.array([0.25, 0.5, 0.75, 1.0]) # NumPy array
data = [0.25, 0.5, 0.75, 1.0]           # Python list
data = {0:0.25, 1:0.5, 2:0.75, 3:1.0}   # Python dictionary

s = pd.Series(data)                     # Pandas Series

print(s)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

- We can explicitly set the data type using the keyword `dtype`, and can access the sequence of values and indices using the `values` and `index` attributes.

In [6]:
data = [0.25, 0.5, 0.75, 1.0]
s = pd.Series(data, dtype=np.float32)
print(s)

print()

print(s.values)
print(s.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float32

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

---
## 2.2 Indexing and Slicing in Pandas Series

- Indexing and slicing works the same way as with NumPy arrays.

In [10]:
data = [0.25, 0.5, 0.75, 1.0]
s = pd.Series(data, dtype=np.float32)
print(s)

print()

print(s[1])   # indexing

print()

print(s[1:3]) #  slicing

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float32

0.5

1    0.50
2    0.75
dtype: float32

- Pandas Series have an explicitly defined index (of any type), and can be set with the keyword `index`.

In [12]:
data = [0.25, 0.5, 0.75, 1.0]
index = ['a', 'b', 'c', 'd']
s = pd.Series(data, dtype=np.float32, index=index)
print(s)

print()

print(s['b'])     # indexing

print()

print(s['b':'d']) # slicing

print()

print(s.index)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float32

0.5

b    0.50
c    0.75
d    1.00
dtype: float32

Index(['a', 'b', 'c', 'd'], dtype='object')

---
# 3. The Pandas DataFrame Object
---

- A `DataFrame` is a multi-dimensional array with attached row and column labels, often with heterogeneous types and/or missing data (`NaN`, `None`).
- An `Index` object is used to index into a `Series` or `DataFrame`.

---
## 3.1 Creating Pandas DataFrames

- We can use `pd.DataFrame(data)` to create a Pandas data frame, where `data` can be a two-dimensional NumPy array, a Python list of dictionaries, or a dictionary of Series objects.
- In the print out below, we see a data frame object wraps Series objects (2 right-most columns), a column
Index (top row), and a row Index (left column), where the Series objects share the same row Index.

In [13]:
import numpy as np
import pandas as pd

data = np.array([[1,4],[2,5],[3,6]])               # 2D NumPy array
data = [{0:1, 1:4},{0:2,1:5},{0:3,1:6}]            # List of dicts
data = {0:pd.Series([1,2,3]),1:pd.Series([4,5,6])} # Dict of Series

df = pd.DataFrame(data)                            # Pandas DataFrame

print(df)

   0  1
0  1  4
1  2  5
2  3  6

- The **row index** is accessed via the `index` attribute.
- The **column index** is accessed via the `columns` attribute.

In [15]:
data = {0:pd.Series([1,2,3]), 1:pd.Series([4,5,6])}
df = pd.DataFrame(data)
print(df)

print()

print(df.index)

print()

print(df.columns)

   0  1
0  1  4
1  2  5
2  3  6

RangeIndex(start=0, stop=3, step=1)

Index([0, 1], dtype='int64')

---
## 3.2 Indexing and Slicing in Pandas DataFrames

- Indexing into a `DataFrame` is done via the **column index**, returning a `Series` object.

In [17]:
data = {0:pd.Series([1,2,3]), 1:pd.Series([4,5,6])}
df = pd.DataFrame(data)
print(df)

print()

print(df[0])

print()

print(df[1])

   0  1
0  1  4
1  2  5
2  3  6

0    1
1    2
2    3
Name: 0, dtype: int64

0    4
1    5
2    6
Name: 1, dtype: int64

- Each `Series` object has its own data type and can specify any type for its **column index**.
- Notice the `dtype` for the DataFrame's **column index** is `'object'` since it contains a string `'a'` and an int `1`.

In [19]:
data = {'a':pd.Series([1.0,2.0,3.0]), 1:pd.Series([4,5,6])}
df = pd.DataFrame(data)
print(df)

print()

print(df['a'])

print()

print(df.index)

print()

print(df.columns)

     a  1
0  1.0  4
1  2.0  5
2  3.0  6

0    1.0
1    2.0
2    3.0
Name: a, dtype: float64

RangeIndex(start=0, stop=3, step=1)

Index(['a', 1], dtype='object')

---
# 4. The Pandas Index Object
---

- An `Index` object is used to index into a `Series` or `DataFrame`.

---
## 4.1 Creating Pandas Index

- We can use `pd.Index(sequence)` to create a Pandas `Index`, where `sequence` can be any sequence, e.g. a NumPy array, a Python list, etc., and the sequence doesn’t have to be consecutive.

In [20]:
sequence = ['b', 'c', 'e', 'g', 'k']  # Python list of strings
sequence = [2.0, 3.0, 5.0, 7.0, 11.0] # Python list of floats
sequence = [2, 3, 5, 7, 11]           # Python list or ints
sequence = np.array([2, 3, 5, 7, 11]) # NumPy array of ints

ind = pd.Index(sequence)              # Pandas Index

print(ind)

Index([2, 3, 5, 7, 11], dtype='int64')

---
## 4.2 Indexing and Slicing in a Pandas Index

- Indexing and slicing works the same way as with a NumPy array, but a Pandas `Index` is immutable.

In [24]:
sequence = [2, 3, 5, 7, 11]
ind = pd.Index(sequence)
print(ind)

print()

print(ind[1])

print()

print(ind[::2])

print()

print(ind.size)
print(ind.shape)
print(ind.ndim)
print(ind.dtype)

Index([2, 3, 5, 7, 11], dtype='int64')

3

Index([2, 5, 11], dtype='int64')

5
(5,)
1
int64

- A Pandas `Index` also works with set operations, such as intersection (`&`), union (`|`), symmetric
difference (`^`), and set difference using the `difference()` method.

In [27]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA)
print(indB)

print()

print(indA & indB) # intersection
print(indA | indB) # union
print(indA ^ indB) # symmetric difference
print(indA.difference(indB)) # set difference

Index([1, 3, 5, 7, 9], dtype='int64')
Index([2, 3, 5, 7, 11], dtype='int64')

Index([0, 3, 5, 7, 9], dtype='int64')
Index([3, 3, 5, 7, 11], dtype='int64')
Index([3, 0, 0, 0, 2], dtype='int64')
Index([1, 9], dtype='int64')

---
# 5. Data Indexing and Selection in Series
---

## 5.1 Dictionary Operations

- `Series` objects support dictionary operations.

In [33]:
data = pd.Series([0.25, 0.5, 0.75], index=['a', 'b', 'c'])
print(data)

print()

print(data['b'])
print()

print('a' in data)
print()

print(data.keys())
print()

print(list(data.items()))
print()

data['d'] = 1.00
print(data)

a    0.25
b    0.50
c    0.75
dtype: float64

0.5

True

Index(['a', 'b', 'c'], dtype='object')

[('a', 0.25), ('b', 0.5), ('c', 0.75)]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

---
## 5.2 List Operations

- `Series` objects support list operations, such as slicing.
- Note that when using the **explicit index**, the end point is included, whereas it isn’t in the **implicit integer index**.

In [34]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(data)

print()

print(data['a':'c'])

print()

print(data[0:2])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

a    0.25
b    0.50
c    0.75
dtype: float64

a    0.25
b    0.50
dtype: float64

---
## 5.3 Masking and Fancy Indexing

- `Series` objects also support masking and fancy indexing.

In [36]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(data)

print()

print(data[(data > 0.3) & (data < 0.8)]) # masking

print()

print(data[['a', 'd']]) # fancy indexing

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

b    0.50
c    0.75
dtype: float64

a    0.25
d    1.00
dtype: float64

---
## 5.4 Explicit and Implicit Indexing

- Confusion between **explicit** and **implicit** indexing arises when using an **explicit integer index**.
  - The **explicit index** is used when indexing.
  - The **implicit integer index** is used when slicing.

In [38]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(data)

print()

print(data[1])   # <- uses explicit index when indexing

print()

print(data[1:3]) # <- uses implicit index when slicing

1    a
3    b
5    c
dtype: object

a

3    b
5    c
dtype: object

- The attributes `loc` and `iloc` remove the confusion between explicit and implicit indexing.
  - The `loc` attribute always uses **explicit indexing**.
  - The `iloc` attribute always uses **implicit integer indexing**.

In [41]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(data)

print()

print(data.loc[1])    # <- uses explicit indexing
print()
print(data.loc[1:3])  # <- uses explicit indexing

print()

print(data.iloc[1])   # <- uses implicit indexing
print()
print(data.iloc[1:3]) # <- uses implicit indexing

1    a
3    b
5    c
dtype: object

a

1    a
3    b
dtype: object

b

3    b
5    c
dtype: object

---
# 6. Data Indexing and Selection in DataFrames
---

## 6.1 Dictionary Operations

- `DataFrame` objects support dictionary operations, such as indexing using the column index (column name).
- This returns the column from the `DataFrame`, which is a `Series` object.

In [42]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})

pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})

data = pd.DataFrame({'area':area, 'pop':pop})

print(data)

print()

print(data['area'])

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

- We can also index by column index (column name) and assign a value (adds a new column to the `DataFrame` if the column index doesn’t exist).
- We can also perform vector calculations using the `DataFrame`’s columns (`Series` objects).

In [43]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})

pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})

data = pd.DataFrame({'area':area, 'pop':pop})
print(data)

print()

data['density'] = data['pop'] / data['area']
print(data)

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

---
## 6.2 Accessing the Underlying Numpy Array

- We can access the underlying NumPy array via the `DataFrame`’s `values` attribute.
- We can transpose (swap column and rows) the `DataFrame` via the `T` attribute.
- Indexing with a single value into a NumPy array (via the `values` attribute) returns a row.
- Indexing with a single value into a `DataFrame` returns a column.

In [47]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data['density'] = data['pop'] / data['area']
print(data)
print()

print(data.values)    # underlying numpy array
print()

print(data.T)         # transpose
print()

print(data.values[0]) # index into underlying numpy array
print()

print(data['area'])   # select a column

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

[[4.23967000e+05 3.83325210e+07 9.04139261e+01]
 [6.95662000e+05 2.64481930e+07 3.80187404e+01]
 [1.41297000e+05 1.96511270e+07 1.39076746e+02]
 [1.70312000e+05 1.95528600e+07 1.14806121e+02]
 [1.49995000e+05 1.28821350e+07 8.58837628e+01]]

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

[4.23967000e+05 3.83325210e+07 9.04139261e+01]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

---
## 6.3 Explicit and Implicit Indexing

- We can use **implicit** and **explicit** indexing via the `iloc` and `loc` attributes.
- We can also combine masking and fancy indexing via the `loc` attribute.
- We can also assign values to the `DataFrame` using any indexing method.

In [50]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data['density'] = data['pop'] / data['area']
print(data)
print()

print(data.iloc[:3, :2]) # implicit indexing
print()

print(data.loc[:'Illinois', :'pop']) # explicit indexing
print()

print(data.loc[data.density > 100, ['pop', 'density']]) # explicit indexing with fancy indexing
print()

data.iloc[0, 2] = 90
print(data)

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

- Additional indexing conventions are:
  - While indexing refers to columns, slicing (**explicit**, **implicit**) refers to rows.
  - Direct masking operations are also interpreted as row-wise operations.

In [53]:
area = pd.Series({'California': 423967,
                  'Texas': 695662,
                  'New York': 141297,
                  'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                 'Texas': 26448193,
                 'New York': 19651127,
                 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data['density'] = data['pop'] / data['area']
print(data)
print()

print(data['Florida':'Illinois'])
print()

print(data[1:3])
print()

print(data[data.density > 100])

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

---
# 7. Operating on Data in Pandas (ufuncs)
---

- NumPy universal functions (ufuncs) work with Pandas Series and DataFrames
  - Python’s operators have been overloaded by Pandas with equivalent ufuncs.
  - Unary operators and ufuncs preserve Pandas indexes.
  - Binary operators and ufuncs align Pandas indexes in the two objects.

<img src="../images/pandas-ufuncs.png"></img>

In [57]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
print(s1)
print()
print(s2)

print()

s3 = -s1
print(s3)
print()

s4 = s1 + s2
s4 = s1.add(s2)
print(s4)

0    1
1    2
2    3
dtype: int64

0    4
1    5
2    6
dtype: int64

0   -1
1   -2
2   -3
dtype: int64

0    5
1    7
2    9
dtype: int64

- When performing binary operations on two `Series` objects or `DataFrame` objects with different sets of indexes, Pandas will:
  - Form the union of the indexes.
  - Fill elements with the value NaN (Not a Number) for any non-aligned indexes.

In [59]:
df1 = pd.DataFrame([[1,2],[3,4]], columns=['A', 'B'])
print(df1)
print()

df2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['B','A','C'])
print(df2)
print()

df3 = df1 + df2
print(df3)

   A  B
0  1  2
1  3  4

   B  A  C
0  1  2  3
1  4  5  6
2  7  8  9

     A    B   C
0  3.0  3.0 NaN
1  8.0  8.0 NaN
2  NaN  NaN NaN

- If we want to replace `NaN` with another value, we can use the `fillna()` method.
  - The keyword `inplace` set to `True` will replace the values in the `DataFrame` object instead of returning a `DataFrame` copy.

In [60]:
df1 = pd.DataFrame([[1,2],[3,4]], columns=['A', 'B'])
print(df1)
print()

df2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['B','A','C'])
print(df2)
print()

df3 = df1 + df2
df3.fillna(0.0, inplace=True)
print(df3)

   A  B
0  1  2
1  3  4

   B  A  C
0  1  2  3
1  4  5  6
2  7  8  9

     A    B    C
0  3.0  3.0  0.0
1  8.0  8.0  0.0
2  0.0  0.0  0.0

---
# 8. Handling Missing Values
---

## 8.1 Missing Values in Pandas Series and DataFrames

- Real-world data often contains missing values, i.e. Not Available (NA) values.
- In `Series` and `DataFrame` objects they are represented with, either:
    - `NaN` (which is NumPy’s `np.nan` value) for `float` data types.
    - `None` (which is Python’s built-in `None` value) for `object` data types.
    - `<NA>` (which is Pandas’ built-in `pd.NA` value) for non-numeric data types.

---
## 8.2 Introducing Missing Values into a Series or DataFrame

- Introducing missing values into a `Series` or `DataFrame` column will:
  - Convert numeric data types (e.g. `int32`) to `float64`.
  - Convert non-numeric data types (e.g. `bool` or `str`) to `object`.

<img src="../images/pandas-nans.png"></img>

In [63]:
import warnings
warnings.simplefilter("ignore", FutureWarning)

s = pd.Series([1, 2, 3, 4, 5], dtype=np.int32)
print(s.dtype)
s[0] = np.nan
s[2] = None
s[4] = pd.NA
print(s)

print()

s = pd.Series([True, True, True, False, False])
print(s.dtype)
s[0] = np.nan
s[2] = None
s[4] = pd.NA
print(s)

int32
0    NaN
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

bool
0      NaN
1     True
2     None
3    False
4     <NA>
dtype: object

---
## 8.3 Detecting Missing Values

- Detecting missing values with `isnull()` and `notnull()
  - `isnull()` returns a boolean mask indicating missing values with `True`.
  - `notnull()` is the opposite of `isnull()` (`False` for missing values).`.

In [65]:
data = pd.Series([1, np.nan, 'hello', None])
print(data)
print()

print(data.isnull())
print()

print(data[data.notnull()])

0        1
1      NaN
2    hello
3     None
dtype: object

0    False
1     True
2    False
3     True
dtype: bool

0        1
2    hello
dtype: object

---
## 8.4 Dropping Missing Values

- Dropping missing values in a `Series` object with `dropna()`.
  - `dropna()` returns a filtered (missing values removed) copy of the data.

In [66]:
data = pd.Series([1, np.nan, 'hello', None])
print(data)
print()

print(data.dropna())

0        1
1      NaN
2    hello
3     None
dtype: object

0        1
2    hello
dtype: object

- Dropping missing values in a `DataFrame` object with `dropna()`.
    - `dropna()` will drop entire rows or columns containing at least one missing value.
    - By default `dropna()` uses `dropna(axis=0)` which is the same as `dropna(axis='rows')`
    - `dropna(axis=1)` is the same as `dropna(axis='columns')`

In [68]:
data = pd.DataFrame([[1, np.nan, 2], [2, 3, 5], [np.nan, 4, 6]])
print(data)
print()

print(data.dropna())
print()

print(data.dropna(axis=1))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

     0    1  2
1  2.0  3.0  5

   2
0  2
1  5
2  6

---
## 8.5 Imputing Missing Values

- Filling (replacing) missing values in a `Series` object with `fillna()`, `ffill()`, and `bfill()`.
  - `fillna(value)` replaces all missing values with the provided `value`.
  - `ffill()` is a forward fill that replaces a missing value with the **preceding** value in the sequence of values.
  - `bfill()` is a backward fill that replaces a missing value with the **succeeding** value in the sequence of values.

In [69]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
print(data)
print()

print(data.ffill())
print()

print(data.bfill())
print()

print(data.fillna(0))

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

- Filling (replacing) missing values in a `DataFrame` object with `fillna()`, `ffill()`, and `bfill()`.
    - `fillna(value)`, `ffill()`, and `bfill()` work as with `Series`, but also support the keyword parameter `axis`.
    - `axis=0` (default) the same as `axis='rows'`
    - `axis=1` is the same as `axis='columns'`

In [70]:
data = pd.DataFrame([[1, np.nan, 2, np.nan], [2, 3, 5, np.nan], [np.nan, 4, 6, np.nan]])
print(data)
print()

print(data.fillna(0))
print()

print(data.ffill(axis=1))

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

     0    1  2    3
0  1.0  0.0  2  0.0
1  2.0  3.0  5  0.0
2  0.0  4.0  6  0.0

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

---
# 9. Combining Datasets: Concat
---

## 9.1 Concatenating Series and DataFrames

- Pandas provides methods for concatenating `Series` and `DataFrames`.
  - `concat(s1, s2)` takes two `Series` and returns their concatenation.
  - `concat(df1, df2)` takes two `DataFrames` and returns their concatenation.
  - The `axis` parameter determines the axis used during the concatenation.
    - `axis=0` (`axis='rows'`) or `axis=1` (`axis='columns'`).
  - The `ignore_index=True` parameter creates a new index after the join.
    - `ignore_index=False` or `ignore_index=True`.
  - The `join` parameter determines the type of join.
    - `join='outer'` or `join='inner'`.

---
## 9.2 Concatenating Series

- Concatenating two `Series` with `concat()`

In [73]:
s1 = pd.Series(['A', 'B'], index=[1, 2])
s2 = pd.Series(['C', 'D'], index=[3, 4])
res = pd.concat([s1, s2])

print(f'{s1}\n')
print(f'{s2}\n')
print(f'{res}\n')

1    A
2    B
dtype: object

3    C
4    D
dtype: object

1    A
2    B
3    C
4    D
dtype: object

---
## 9.3 Concatenating DataFrames

- Concatenating two `DataFrames` with `concat()`

In [74]:
df1 = pd.DataFrame([['A1','B1'],['A2','B2']], index=[1,2], columns=['A','B'])
df2 = pd.DataFrame([['A3','B3'],['A4','B4']], index=[3,4], columns=['A','B'])
res = pd.concat([df1, df2])

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B
1  A1  B1
2  A2  B2

    A   B
3  A3  B3
4  A4  B4

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

---
## 9.4 Concatenating Along an Axis

- The `axis` parameter determines the axis used during concatenating `DataFrames`.
    - `axis=0` or `axis='rows'` (default) concatenates the rows.
    - `axis=1` or `axis='columns'` concatenates the columns.

In [75]:
df1 = pd.DataFrame([['A0','B0'],['A1','B1']], index=[0,1], columns=['A','B'])
df2 = pd.DataFrame([['C0','D0'],['C1','D1']], index=[0,1], columns=['C','D'])
res = pd.concat([df1, df2], axis='columns')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B
0  A0  B0
1  A1  B1

    C   D
0  C0  D0
1  C1  D1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

---
## 9.5 Index Preservation During Concatenation

- Pandas preserves **indices** in the `DataFrames`, by default, even if it means they are duplicated.
  - Notice duplicated row indicies in the result below.

In [76]:
df1 = pd.DataFrame([['A0','B0'],['A1','B1']], index=[0,1], columns=['A','B'])
df2 = pd.DataFrame([['A2','B2'],['A3','B3']], index=[0,1], columns=['A','B'])
res = pd.concat([df1, df2])

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

---
## 9.6 Ignoring Index Preservation During Concatenation

- To ignore the index, and let Pandas generate a new one, the `ignore_index` parameter can be set to `True`.
  - Notice unique row indicies in the result below.

In [77]:
df1 = pd.DataFrame([['A0','B0'],['A1','B1']], index=[0,1], columns=['A','B'])
df2 = pd.DataFrame([['A2','B2'],['A3','B3']], index=[0,1], columns=['A','B'])
res = pd.concat([df1, df2], ignore_index=True)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

---
## 9.7 Concatenation with Outer Join

- The type of join performed during the concatenation can be specified using the `join` parameter.
  - `join='outer'` (**default**) performs an outer join (missing values after the join are filled with `NaN`).
  - `join='inner'` performs an inner join (only matching columns are preserved).

In [81]:
df1 = pd.DataFrame([['A1','B1','C1'],['A2','B2','C2']], index=[1,2], columns=['A','B','C'])
df2 = pd.DataFrame([['B3','C3','D3'],['B4','C4','D4']], index=[3,4], columns=['B','C','D'])
res = pd.concat([df1, df2], ignore_index=True)
# res = pd.concat([df1, df2], ignore_index=True, join='outer')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

     A   B   C    D
0   A1  B1  C1  NaN
1   A2  B2  C2  NaN
2  NaN  B3  C3   D3
3  NaN  B4  C4   D4

---
## 9.8 Concatenation with Inner Join

- The type of join performed during the concatenation can be specified using the `join` parameter.
  - `join='outer'` (**default**) performs an outer join (missing values after the join are filled with `NaN`).
  - `join='inner'` performs an inner join (only matching columns are preserved).

In [82]:
df1 = pd.DataFrame([['A1','B1','C1'],['A2','B2','C2']], index=[1,2], columns=['A','B','C'])
df2 = pd.DataFrame([['B3','C3','D3'],['B4','C4','D4']], index=[3,4], columns=['B','C','D'])
res = pd.concat([df1, df2], join='inner')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

---
# 10. Combining Datasets: Merge
---

## 10.1 Merging Series and DataFrames

- The `merge()` function implements relational logic for `Series` and `DataFrames`.
  - One-to-one, one-to-many, and many-to-many joins.
  - Joining on a common column with `on='col'`.
  - Joining on a left and right column with
  `left_on='l_col'` and `right_on='r_col'`.
  - Joining on a the left index and right index with `left_index=True` and `right_index=True`.
  - Performing an inner, outer, left or right join with
  `how='inner'`, `how='outer'`, `how='left'`, or `how='right'`.
  - Choosing suffixes for non-key columns with the same name with `suffixes=['_L','_R']`.

---
## 10.2 One-To-One Merge Example

- A one-to-one join of two `DataFrames` with `merge()`.
  - One-to-one, since there's a one-to-one match between the two datasets' *primary key columns*.

In [83]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df2=pd.DataFrame([['Jo',2004],['Al',2008],['Ed',2012],['Bo',2014]], columns=['emp','date'])
res=pd.merge(df1, df2)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp
0  Al  Fin
1  Ed  Eng
2  Jo  Eng
3  Bo   HR

  emp  date
0  Jo  2004
1  Al  2008
2  Ed  2012
3  Bo  2014

  emp  grp  date
0  Al  Fin  2008
1  Ed  Eng  2012
2  Jo  Eng  2004
3  Bo   HR  2014

---
## 10.3 One-To-Many Merge Example

- A one-to-many join of two `DataFrames` with `merge()`.
  - One-to-many, since there's a one-to-many match between the two datasets' *primary key columns*.

In [84]:
df1=pd.DataFrame([['Al','Fin',2008],['Ed','Eng',2012],['Jo','Eng',2004],['Bo','HR',2014]], columns=['emp','grp','date'])
df2=pd.DataFrame([['Fin','Bob'],['Eng','Amy'],['HR','Sue']], columns=['grp','mgr'])
res=pd.merge(df1, df2)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp  date
0  Al  Fin  2008
1  Ed  Eng  2012
2  Jo  Eng  2004
3  Bo   HR  2014

   grp  mgr
0  Fin  Bob
1  Eng  Amy
2   HR  Sue

  emp  grp  date  mgr
0  Al  Fin  2008  Bob
1  Ed  Eng  2012  Amy
2  Jo  Eng  2004  Amy
3  Bo   HR  2014  Sue

---
## 10.4 Many-To-Many Merge Example

- A many-to-many join of two `DataFrames` with `merge()`.
  - Many-to-many, since there's a many-to-many match between the two datasets' *primary key columns*.

In [85]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df2=pd.DataFrame([['Fin','r'],['Fin','xl'],['Eng','c'],['Eng','py'],['HR','xl'],['HR','o']], columns=['grp','skill'])
res=pd.merge(df1, df2)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp
0  Al  Fin
1  Ed  Eng
2  Jo  Eng
3  Bo   HR

   grp skill
0  Fin     r
1  Fin    xl
2  Eng     c
3  Eng    py
4   HR    xl
5   HR     o

  emp  grp skill
0  Al  Fin     r
1  Al  Fin    xl
2  Ed  Eng     c
3  Ed  Eng    py
4  Jo  Eng     c
5  Jo  Eng    py
6  Bo   HR    xl
7  Bo   HR     o

---
## 10.5 Merging on a Common Column

- Joining on a common column in `DataFrames` with `merge()` and the parameter `on='col'`.
  - In this case, the `emp` column in the two `DataFrames`.

In [87]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df2=pd.DataFrame([['Jo',2004],['Al',2008],['Ed',2012],['Bo',2014]], columns=['emp','date'])
res=pd.merge(df1, df2, on='emp')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp
0  Al  Fin
1  Ed  Eng
2  Jo  Eng
3  Bo   HR

  emp  date
0  Jo  2004
1  Al  2008
2  Ed  2012
3  Bo  2014

  emp  grp  date
0  Al  Fin  2008
1  Ed  Eng  2012
2  Jo  Eng  2004
3  Bo   HR  2014

---
## 10.6 Merging on Different DataFrame Columns

- Joining on a column in the left and right `DataFrames` with `merge()` and `left_on='l_col'`, `right_on='r_col'`.
  - In this case, on the `emp` column in left (first) `DataFrame` and on the `name` column in right (second) `DataFrame`.

In [89]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df2=pd.DataFrame([['Al',7000],['Ed',8000],['Jo',12000],['Bo',9000]], columns=['name','salary'])
res=pd.merge(df1, df2, left_on='emp', right_on='name')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp
0  Al  Fin
1  Ed  Eng
2  Jo  Eng
3  Bo   HR

  name  salary
0   Al    7000
1   Ed    8000
2   Jo   12000
3   Bo    9000

  emp  grp name  salary
0  Al  Fin   Al    7000
1  Ed  Eng   Ed    8000
2  Jo  Eng   Jo   12000
3  Bo   HR   Bo    9000

---
## 10.7 Merging and Dropping Superfluous Columns

- Joining on a column in the left and right `DataFrames` with `merge()` and `left_on='l_col'`, `right_on='r_col'`.
  - In this case, on the `emp` column in left (first) `DataFrame` and on the `name` column in right (second) `DataFrame`.
- Additionally, dropping superfluous columns with `drop('col', axis=1)`.
  - In this case, the `name` column.

In [90]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df2=pd.DataFrame([['Al',7000],['Ed',8000],['Jo',12000],['Bo',9000]], columns=['name','salary'])
res=pd.merge(df1, df2, left_on='emp', right_on='name').drop('name', axis=1)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  emp  grp
0  Al  Fin
1  Ed  Eng
2  Jo  Eng
3  Bo   HR

  name  salary
0   Al    7000
1   Ed    8000
2   Jo   12000
3   Bo    9000

  emp  grp  salary
0  Al  Fin    7000
1  Ed  Eng    8000
2  Jo  Eng   12000
3  Bo   HR    9000

---
## 10.8 Merging on DataFrame Indices

- Joining on the index in the left and right `DataFrames` with `merge()` and `left_index=True`, `right_index=True`.
  - Here the merge is performed using the `Index` in the two `DataFrames`.

In [92]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df1.set_index('emp', inplace=True)

df2=pd.DataFrame([['Jo',2004],['Al',2008],['Ed',2012],['Bo',2014]], columns=['emp','date'])
df2.set_index('emp', inplace=True)

res=pd.merge(df1, df2, left_index=True, right_index=True)

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

     grp
emp
Al   Fin
Ed   Eng
Jo   Eng
Bo    HR

     date
emp
Jo   2004
Al   2008
Ed   2012
Bo   2014

     grp  date
emp
Al   Fin  2008
Ed   Eng  2012
Jo   Eng  2004
Bo    HR  2014

---
## 10.9 Merging on an Index and a Column

- Joining on an index in one `DataFrame` and on a column in the other.
  - Here the merge is performed using the `Index` in the first (left) `DataFrame` and the column `name` in the second (right) `DataFrame`.

In [93]:
df1=pd.DataFrame([['Al','Fin'],['Ed','Eng'],['Jo','Eng'],['Bo','HR']], columns=['emp','grp'])
df1.set_index('emp', inplace=True)

df2=pd.DataFrame([['Al',7000],['Ed',8000],['Jo',12000],['Bo',9000]], columns=['name','salary'])

res=pd.merge(df1, df2, left_index=True, right_on='name')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

     grp
emp
Al   Fin
Ed   Eng
Jo   Eng
Bo    HR

  name  salary
0   Al    7000
1   Ed    8000
2   Jo   12000
3   Bo    9000

   grp name  salary
0  Fin   Al    7000
1  Eng   Ed    8000
2  Eng   Jo   12000
3   HR   Bo    9000

- If we want to rename column `name` to `emp` we can use the `rename()` method.

In [94]:

res.rename(columns={'name': 'emp'}, inplace=True)
print(f'{res}\n')

   grp emp  salary
0  Fin  Al    7000
1  Eng  Ed    8000
2  Eng  Jo   12000
3   HR  Bo    9000

---
## 10.10 Merging with Inner Join

- Performing an inner join of two `DataFrames` with `merge()` and `how='inner'` (**default**).

In [97]:
df1=pd.DataFrame([['Ed','fish'],['Al','beans'],['Bo','bread']], columns=['name','food'])
df2=pd.DataFrame([['Bo','wine'],['Jo','beer']], columns=['name','drink'])
res=pd.merge(df1, df2)
# res=pd.merge(df1, df2, how='inner')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name   food
0   Ed   fish
1   Al  beans
2   Bo  bread

  name drink
0   Bo  wine
1   Jo  beer

  name   food drink
0   Bo  bread  wine

---
## 10.11 Merging with Outer Join

- Performing an outer join of two `DataFrames` with `merge()` and `how='outer'`.

In [101]:
df1=pd.DataFrame([['Ed','fish'],['Al','beans'],['Bo','bread']], columns=['name','food'])
df2=pd.DataFrame([['Bo','wine'],['Jo','beer']], columns=['name','drink'])
res=pd.merge(df1, df2, how='outer')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name   food
0   Ed   fish
1   Al  beans
2   Bo  bread

  name drink
0   Bo  wine
1   Jo  beer

  name   food drink
0   Al  beans   NaN
1   Bo  bread  wine
2   Ed   fish   NaN
3   Jo    NaN  beer

---
## 10.12 Merging with Left Join

- Performing a left join of two `DataFrames` with `merge()` and `how='left'`.

In [102]:
df1=pd.DataFrame([['Ed','fish'],['Al','beans'],['Bo','bread']], columns=['name','food'])
df2=pd.DataFrame([['Bo','wine'],['Jo','beer']], columns=['name','drink'])
res=pd.merge(df1, df2, how='left')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name   food
0   Ed   fish
1   Al  beans
2   Bo  bread

  name drink
0   Bo  wine
1   Jo  beer

  name   food drink
0   Ed   fish   NaN
1   Al  beans   NaN
2   Bo  bread  wine

---
## 10.13 Merging with Right Join

- Performing a right join of two `DataFrames` with `merge()` and `how='right'`.

In [103]:
df1=pd.DataFrame([['Ed','fish'],['Al','beans'],['Bo','bread']], columns=['name','food'])
df2=pd.DataFrame([['Bo','wine'],['Jo','beer']], columns=['name','drink'])
res=pd.merge(df1, df2, how='right')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name   food
0   Ed   fish
1   Al  beans
2   Bo  bread

  name drink
0   Bo  wine
1   Jo  beer

  name   food drink
0   Bo  bread  wine
1   Jo    NaN  beer

---
## 10.13 Merging DataFrames with Common Non-Key Colums

- Joining two DataFrames with `merge()` with non-key column names in common adds a default suffix.
  - Here `rank` is such a column in the two `DataFrames`.
  - Notice the resulting columns `rank_x` and `rank_y`.

In [105]:
df1=pd.DataFrame([['Al',1],['Ed',2],['Bo',3],['Jo',4]], columns=['name','rank'])
df2=pd.DataFrame([['Al',3],['Ed',1],['Bo',4],['Jo',2]], columns=['name','rank'])
res=pd.merge(df1, df2, on='name')

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name  rank
0   Al     1
1   Ed     2
2   Bo     3
3   Jo     4

  name  rank
0   Al     3
1   Ed     1
2   Bo     4
3   Jo     2

  name  rank_x  rank_y
0   Al       1       3
1   Ed       2       1
2   Bo       3       4
3   Jo       4       2

- Choosing a suffix when joining two `DataFrames` with `merge()` and `suffixes=['left_suffix', 'right_suffix']`.
  - Here we are using suffixes `_L` and `_R`.

In [107]:
df1=pd.DataFrame([['Al',1],['Ed',2],['Bo',3],['Jo',4]], columns=['name','rank'])
df2=pd.DataFrame([['Al',3],['Ed',1],['Bo',4],['Jo',2]], columns=['name','rank'])
res=pd.merge(df1, df2, on='name', suffixes=['_L','_R'])

print(f'{df1}\n')
print(f'{df2}\n')
print(f'{res}\n')

  name  rank
0   Al     1
1   Ed     2
2   Bo     3
3   Jo     4

  name  rank
0   Al     3
1   Ed     1
2   Bo     4
3   Jo     2

  name  rank_L  rank_R
0   Al       1       3
1   Ed       2       1
2   Bo       3       4
3   Jo       4       2

- If we want to rename the columns to `rank1` and `rank2` we can use the `rename()` method.

In [108]:
res.rename(columns={'rank_L':'rank1', 'rank_R':'rank2'}, inplace=True)
print(f'{res}\n')

  name  rank1  rank2
0   Al      1      3
1   Ed      2      1
2   Bo      3      4
3   Jo      4      2

---
# 11. Aggregation
---

## 11.1 Aggregation Methods

- Pandas supports various aggregation methods.
- They can be called on `Series` and `DataFrame`s.

<img src="../images/pandas-aggregations.png"></img>

---
## 11.2 Aggregating Along an Axis

- Aggregation methods, such as `mean()`, can be called on a `DataFrame`, specifying the axis of aggregation with `axis`.
  - `axis=0` or `axis='rows'` (**default**) aggregates the values in the rows, yielding a result for each column.
  - `axis=1` or `axis='columns'` aggregates the values in the columns, yielding a result for each row.

In [109]:
rng = np.random.RandomState(42)
df = pd.DataFrame({'A': rng.rand(5), 'B': rng.rand(5)})
res_rows = df.mean(axis='rows')    # same as axis=0
res_cols = df.mean(axis='columns') # same as axis=1

print(f'{df}\n')
print(f'{res_rows}\n')
print(f'{res_cols}\n')

          A         B
0  0.374540  0.155995
1  0.950714  0.058084
2  0.731994  0.866176
3  0.598658  0.601115
4  0.156019  0.708073

A    0.562385
B    0.477888
dtype: float64

0    0.265267
1    0.504399
2    0.799085
3    0.599887
4    0.432046
dtype: float64

---
## 11.3 Summary Statistics with the `describe` Method

- The method `describe()` can be called on a `DataFrame` which produces summary statistics for each numeric column type.

In [110]:
rng = np.random.RandomState(42)
df = pd.DataFrame({'A': rng.rand(5), 'B': rng.rand(5)})
res = df.describe()

print(f'{df}\n')
print(f'{res}\n')

          A         B
0  0.374540  0.155995
1  0.950714  0.058084
2  0.731994  0.866176
3  0.598658  0.601115
4  0.156019  0.708073

              A         B
count  5.000000  5.000000
mean   0.562385  0.477888
std    0.308748  0.353125
min    0.156019  0.058084
25%    0.374540  0.155995
50%    0.598658  0.601115
75%    0.731994  0.708073
max    0.950714  0.866176

---
# 12. Grouping
---

## 12.1 The Split-Apply-Merge Scheme

- Pandas supports grouping operations on `DataFrame`s.
- This is done by calling the `groupby()` method.
  - It is equivalent to a `GROUP BY` in SQL.
  - It creates a `DataFrameGroupby` object.
    - Aggregation methods are then called on it.
- The workflow follows a **split-apply-merge** scheme.
  - A `groupby()` **splits** the `DataFrame` into groups.
  - Then aggregation methods are **applied** to the groups.
  - Finally, the aggregation results are **combined** back into a `DataFrame`.
  - E.g.: `df2 = df1.groupby('col').sum()`

<img src="../images/splt-apply-merge.png"></img>

---
## 12.2 Grouping on a Column and Calculating the Sum

- Grouping on the column `'key'` and computing the `sum()` of each column `'data1'` and `'data2'`.

In [113]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res = df.groupby('key').sum()

print(f'{df}\n')
print(f'{res}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

     data1  data2
key
A        3      8
B        5      7
C        7     12

---
## 12.3 Grouping on a Column and Calculating the Median

- Grouping on the column `'key'`, selecting grouped column `'data1'`, and computing the `median()` for column `'data1'`.

In [115]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res = df.groupby('key')['data1'].median()

print(f'{df}\n')
print(f'{res}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

key
A    1.5
B    2.5
C    3.5
Name: data1, dtype: float64

---
## 12.4 Grouping and Using the `aggregate` Method

- Grouping on the column `'key'`, and using the `aggregate()` method.
  - The `aggregate()` method accepts a list of aggregation methods (or their names) that are, each, applied to the groups.

In [116]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res = df.groupby('key').aggregate(['min', np.median, max])

print(f'{df}\n')
print(f'{res}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

---
## 12.5 Grouping and Using the `filter` Method

- Grouping on the column `'key'`, and using the `filter()` method.
  - The `filter()` method accepts a function (or lambda) with the grouped `DataFrame` as an argument (here `x`).
  - It then filters the groups according to some criteria (here the standard deviation in column `'data2' > 4`).
  - Only groups that meet the criteria are kept (here groups `'B'` and `'C'` since the standard deviation in group `'A' <= 4`).
  - It returns the same amount of columns as in the original `DataFrame` (it just filters out rows, i.e. it doesn’t return grouped data).

In [119]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res1 = df.groupby('key').std()

res2 = df.groupby('key').filter(lambda x: x['data2'].std() > 4)

print(f'{df}\n')
print(f'{res1}\n')
print(f'{res2}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

---
## 12.6 Grouping and Using the `transform` Method

- Grouping on the column `'key'`, and using the `transform()` method.
  - The `transform()` method accepts a function (or lambda) with the grouped `DataFrame` as an argument (here `x`).
  - It transforms each row according to some criteria (here the mean of each column is subtracted from each of its elements `x - x.mean()`).
  - It returns the same amount of rows as in the original `DataFrame` (it just transforms the data, i.e. it doesn’t return grouped data).

In [120]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res = df.groupby('key').transform(lambda x: x - x.mean())

print(f'{df}\n')
print(f'{res}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

---
## 12.7 Grouping and Using the `apply` Method

- Grouping on the column `'key'`, and using the `apply()` method.
  - The `apply()` method accepts a function (or lambda) with the grouped `DataFrame` as an argument (here `x`).
  - It applies the function to each row according to some criteria (here `'data1'` is divided by the sum in `'data2'` and the result stored in `'data1'`).
  - It returns the same amount of rows as in the original `DataFrame` (it just applies the function to the data, i.e. it doesn’t return grouped data).

In [121]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x

rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A','B','C','A','B','C'],
                   'data1': range(6),
                   'data2': rng.randint(0,10,6)})

res = df.groupby('key')[['data1','data2']].apply(norm_by_data2).reset_index(drop=True)

print(f'{df}\n')
print(f'{res}\n')

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

      data1  data2
0  0.000000      5
1  0.375000      3
2  0.142857      0
3  0.571429      7
4  0.166667      3
5  0.416667      9

---
# 13. Vectorized String Operations
---

## 13.1 Using the `str` attribute with String Methods

- Pandas provides Python’s string manipulation methods via the attribute `str`.
- It is used on `Series` (or `DataFrame` columns) that contain strings, e.g.:
  - Capitalize each string in a `Series`

    ```python
    res = s.str.capitalize()
    ```
  
  - Capitalize each string in a `DataFrame` column

    ```python
    res = df['col'].str.capitalize()
    ```

- The example below uses the `str` attribute in a `Series` to capitalize each string.

In [122]:
s = pd.Series(['Paul', None, 'MARY', 'gUIDO'])
res = s.str.capitalize()

print(f'{s}\n')
print(f'{res}\n')

0     Paul
1     None
2     MARY
3    gUIDO
dtype: object

0     Paul
1     None
2     Mary
3    Guido
dtype: object

---
# 14. Working with Time Series
---

## 14.1 Date and Time Data Types in Pandas

- Pandas combines Numpy’s `datetime64` datatype with Python’s date and time functions for vectorized date and time functionality in `Series` and `DataFrame`s.
- The datatypes used for date and time in Pandas are:
  - `Timestamp` which represents a date and time value (e.g. 09:32:50 on the 4 th of July 2015).
  - `DatetimeIndex` which represents a date and time index (used to index each data point in a time series).
  - `Period` which represents a date and time period (e.g. an hourly, daily, weekly, monthly, yearly, etc.).
  - `PeriodIndex` which represents a period index.
  - `Timedelta` which represents a date and time difference (e.g. 1 hour, 2 days, 5 weeks, 1 month, 1 year, etc)
  - `TimedeltaIndex` which represents a timedelta index.
- The methods and functions used for time series in Pandas are:
  - `pd.to_datetime()`, `pd.to_period()`, `pd.to_timedelta()` which convert dates/times to Pandas types.
  - `pd.date_range()`, `pd.period_range()`, `pd.timedelta_range()` which create ranges.
  - `resample()` and `asfreq()` which resample time series, e.g. converting a daily to hourly time series.
  - `shift()` which shifts the elements in a time series forward or backward a number of steps.
  - `rolling()` which creates a rolling window from a time series, used to compute aggregates (e.g. rolling mean).

---
## 14.2 Dates and Times in Python

- Dates and times are created in Python using the built-in type `datetime`.
- Useful methods are also available via the `parser` class in the external package `dateutil`.

In [124]:
from datetime import datetime
date1 = datetime(year=2015, month=7, day=4) # create a Python datetime

from dateutil import parser
date2 = parser.parse('4th of July, 2015') # parse a date and time string

res = date2.strftime('%A') # format datetime as a string with day of week

print(date1)
print(date2)
print(res)

2015-07-04 00:00:00
2015-07-04 00:00:00
Saturday

---
## 14.3 Dates and Times in Numpy

- Numpy’s `datetime64` datatype is a high-resolution date and time datatype.
- It can be passed a code to determine the resolution (see table).
  - E.g. `'ns'` for a nanosecond resolution.

<img src="../images/np-datetime-codes.png"></img>

In [130]:
import numpy as np

date1 = np.array('2015-07-04', dtype=np.datetime64)
date2 = np.array('2015-07-05', dtype=np.datetime64)
date3 = date1 + np.arange(3)
date4 = date2 - date1
date5 = np.datetime64('2015-07-04 12:59:59.50', 'ns')

print(date1)
print(date2)
print(date3)
print(date4)
print(date5)

2015-07-04
2015-07-05
['2015-07-04' '2015-07-05' '2015-07-06']
1 days
2015-07-04T12:59:59.500000000

---
## 14.4 Dates and Times in Pandas

- Pandas combines Numpy’s `datetime64` (resolution) with Python’s `datetime` (methods).
  - `pd.to_datetime()` converts strings to Pandas `Timestamps`.
  - `strftime()` formats a `Timestamp` into a string (e.g. with the day of week).
  - `to_timedelta()` creates a time difference (e.g. an array of a 1-day and a 2-day `Timedelta`).
  - A code can be used to determine the resolution of Pandas date and time datatypes (see table).

<img src="../images/pandas-datetime-codes.png"></img>

In [3]:
import numpy as np
import pandas as pd

date1 = pd.to_datetime('2015-07-04')
date2 = pd.to_datetime('5th of July, 2015')
date3 = date2.strftime('%A')
date4 = date2 - pd.to_timedelta(np.arange(2), 'D')
date5 = date2 - date1

print(date1)
print(date2)
print(date3)
print(date4)
print(date5)

2015-07-04 00:00:00
2015-07-05 00:00:00
Sunday
DatetimeIndex(['2015-07-05', '2015-07-04'], dtype='datetime64[ns]', freq=None)
1 days 00:00:00

---
## 14.5 DatetimeIndex and Indexing

- A `DatetimeIndex` is used as a date and time `index` in `Series` and `DataFrames`.
- Indexing is done similarly to Python list indexing and Numpy `ndarray` indexing.

In [6]:
index = pd.DatetimeIndex(['2014-07-04','2014-08-04','2015-07-04','2015-08-04']) # index

data = pd.Series([0,1,2,3], index=index) # use DatetimeIndex as index in Series
data1 = data['2014-07-04':'2015-07-04']  # range indexing between start to stop datetime
data2 = data['2015']                     # indexing one datetime (here just a year)

print(f'{data}\n')
print(f'{data1}\n')
print(f'{data2}\n')

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

2015-07-04    2
2015-08-04    3
dtype: int64

---
## 14.6 to_datetime(), to_period(), and to_timedelta()
- The Pandas datatypes `Timestamp` and `DatetimeIndex`, `Period` and `PeriodIndex`, `Timedelta` and `TimedeltaIndex`
  - `pd.to_datetime()` creates a `Timestamp` from a single datetime string, but a `DatetimeIndex` from a list of datetime strings.
  - `pd.to_period()` creates a `Period` from a `Timestamp` object, but a `PeriodIndex` from a `DatetimeIndex` object.
  - `pd.to_timedelta()` creates a `Timedelta` from a `Timestamp` object, but a `TimedeltaIndex` from a `DatetimeIndex` object.
  - Subtracting two `Timestamps` creates a `Timedelta`, whereas subtractions involving a `DatetimeIndex` creates a `TimedeltaIndex`.

In [8]:
date = pd.to_datetime('2015-07-03')
dates = pd.to_datetime(['2015-07-03','2015-07-04'])

period = date.to_period('D')
periods = dates.to_period('D')

timedelta = dates[1] - dates[0]
timedeltas = dates - date

print(date)
print(type(date))
print(dates)

print()

print(period)
print(type(period))
print(periods)

print()

print(timedelta)
print(type(timedelta))
print(timedeltas)

2015-07-03 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
DatetimeIndex(['2015-07-03', '2015-07-04'], dtype='datetime64[ns]', freq=None)

2015-07-03
<class 'pandas._libs.tslibs.period.Period'>
PeriodIndex(['2015-07-03', '2015-07-04'], dtype='period[D]')

1 days 00:00:00
<class 'pandas._libs.tslibs.timedeltas.Timedelta'>
TimedeltaIndex(['0 days', '1 days'], dtype='timedelta64[ns]', freq=None)

---
## 14.7 date_range(), period_range(), and timedelta_range()

- We can create a range of datetimes using the `pd.date_range()` function:
  - Between a start `'2015-07-03'` and end datetime `'2015-07-05'`.
  - From a start `'2015-07-03'` datetime and the number of `periods=3`.
  - From a start `'2015-07-03'` datetime and the number of `periods=3`, with a specific frequency (resolution), e.g. hourly `freq='h'`.
- We can also create a range of periods and timedeltas (with periods and frequencies) using the functions `pd.period_range()` and `pd.timedelta_range()`.

In [10]:
date1 = pd.date_range('2015-07-03','2015-07-05')
date2 = pd.date_range('2015-07-03', periods=3)
date3 = pd.date_range('2015-07-03', periods=3, freq='h')
period = pd.period_range('2015-07', periods=3, freq='M')
timedelta = pd.timedelta_range(0, periods=3, freq='h')

print(date1)
print()

print(date2)
print()

print(date3)
print()

print(period)
print()

print(timedelta)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05'], dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05'], dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00'],
              dtype='datetime64[ns]', freq='h')

PeriodIndex(['2015-07', '2015-08', '2015-09'], dtype='period[M]')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00'], dtype='timedelta64[ns]', freq='h')

---
## 14.8 Resampling a Time Series

- A `Series` or `DataFrame` can be resampled using the methods `resample()` or `asfreq()`.
- `resample()` takes a resolution code `'A'` argument to determine the resolution, and requires an aggregate method to be called, e.g. `mean()`.
  - It calculates the aggregate (using the aggregation method) and uses this as the value of the final data point for each period.
  - Notice the values below are averages (due to the `mean()` aggregate method) of a year-end resolution (due to the code `'A'`)
- `asfreq()` takes a resolution code `'A'` argument to determine the resolution, and returns the time series with the new resolution.
  - It doesn’t calculate any aggregate for the the final data point for each period.
  - Notice the values below are the year-end values (due to the code `'A'`), and there is no year-end value for `'2005'`, only for `'2004'`.

In [13]:
import warnings
warnings.simplefilter("ignore", FutureWarning)

index = pd.DatetimeIndex(['2004-08-19','2004-08-20','2004-08-23','2004-08-24','2004-08-25','2004-12-31','2005-01-01'], name='Date')
s = pd.Series([50.12, 54.10, 54.65, 52.38, 52.95, 52.37, 52.38], index=index, name='Close')
res1 = s.resample('A').mean() # A=Year End
res2 = s.asfreq('A') # A=Year End

print(f'{s}\n')
print(f'{res1}\n')
print(f'{res2}\n')

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-23    54.65
2004-08-24    52.38
2004-08-25    52.95
2004-12-31    52.37
2005-01-01    52.38
Name: Close, dtype: float64

Date
2004-12-31    52.761667
2005-12-31    52.380000
Freq: YE-DEC, Name: Close, dtype: float64

Date
2004-12-31    52.37
Freq: YE-DEC, Name: Close, dtype: float64

---
## 14.9 Shifting a Time Series (by Value)

- The `shift(time_steps)` method shifts a time series forward (positive) or backward (negative) a number of `time_steps`.

In [14]:
index=pd.DatetimeIndex(['2004-08-19','2004-08-20','2004-08-23','2004-08-24','2004-08-25','2004-12-31','2005-01-01'], name='Date')
s = pd.Series([50.12, 54.10, 54.65, 52.38, 52.95, 52.37, 52.38], index=index, name='Close')

res1 = s.asfreq('D').head(3)           # head(3) shows the first three rows in the DataFrame
res2 = s.asfreq('D').shift(1).head(3)  # shifts the values forward 1 step (the new first data point is NaN)
res3 = s.asfreq('D').shift(-1).head(3) # shifts the values backward 1 step (the new last data point is NaN)

print(f'{s}\n')
print(f'{res1}\n')
print(f'{res2}\n')
print(f'{res3}\n')

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-23    54.65
2004-08-24    52.38
2004-08-25    52.95
2004-12-31    52.37
2005-01-01    52.38
Name: Close, dtype: float64

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-21      NaN
Freq: D, Name: Close, dtype: float64

Date
2004-08-19      NaN
2004-08-20    50.12
2004-08-21    54.10
Freq: D, Name: Close, dtype: float64

Date
2004-08-19    54.1
2004-08-20     NaN
2004-08-21     NaN
Freq: D, Name: Close, dtype: float64

---
## 14.10 Shifting a Time Series (by Index)

- The `shift(time_steps)` method shifts a time series forward (positive) or backward (negative) a number of `time_steps`.
  - Notice the use of the keyword `freq`in the `shift()` method to shift the `Index` instead of the `Value`.

In [15]:
index=pd.DatetimeIndex(['2004-08-19','2004-08-20','2004-08-23','2004-08-24','2004-08-25','2004-12-31','2005-01-01'], name='Date')
s = pd.Series([50.12, 54.10, 54.65, 52.38, 52.95, 52.37, 52.38], index=index, name='Close')

res1 = s.asfreq('D').head(3)                     # head(3) shows the first three rows in the DataFrame
res2 = s.asfreq('D').shift(1, freq='D').head(3)  # shifts the index backward 1 step
res3 = s.asfreq('D').shift(-1, freq='D').head(3) # shifts the index forward 1 step

print(f'{s}\n')
print(f'{res1}\n')
print(f'{res2}\n')
print(f'{res3}\n')

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-23    54.65
2004-08-24    52.38
2004-08-25    52.95
2004-12-31    52.37
2005-01-01    52.38
Name: Close, dtype: float64

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-21      NaN
Freq: D, Name: Close, dtype: float64

Date
2004-08-20    50.12
2004-08-21    54.10
2004-08-22      NaN
Freq: D, Name: Close, dtype: float64

Date
2004-08-18    50.12
2004-08-19    54.10
2004-08-20      NaN
Freq: D, Name: Close, dtype: float64

---
## 14.11 Rolling Aggregates

- `rolling()` returns an object that, functionally, slides a window of a given size, e.g. `2`, over the time series.
  - Then an aggregation method, e.g. `mean()`, can be called on it to calculate an aggregate value for the data points within each window.
  - An optional parameter `center=True` can be passed to `rolling()` to center the data points within the time series’ original length.

In [17]:
index=pd.DatetimeIndex(['2004-08-19','2004-08-20','2004-08-23','2004-08-24','2004-08-25','2004-12-31','2005-01-01'], name='Date')
s = pd.Series([50.12, 54.10, 54.65, 52.38, 52.95, 52.37, 52.38], index=index, name='Close')
s = s.asfreq('D').ffill()

rolling = s.rolling(2, center=True)

res1 = rolling.mean().head() # head() shows the first 5 rows
res2 = rolling.std().head()  # head() shows the first 5 rows

print(f'{s.head()}\n')       # head() shows the first 5 rows
print(f'{res1}\n')
print(f'{res2}\n')

Date
2004-08-19    50.12
2004-08-20    54.10
2004-08-21    54.10
2004-08-22    54.10
2004-08-23    54.65
Freq: D, Name: Close, dtype: float64

Date
2004-08-19       NaN
2004-08-20    52.110
2004-08-21    54.100
2004-08-22    54.100
2004-08-23    54.375
Freq: D, Name: Close, dtype: float64

Date
2004-08-19         NaN
2004-08-20    2.814285
2004-08-21    0.000000
2004-08-22    0.000000
2004-08-23    0.388909
Freq: D, Name: Close, dtype: float64

---
# 15. Saving and Loading Series and DataFrames
---

## 15.1 CSV, Excel, JSON, and Pickle Files
- A `Series` or `DataFrame` can be saved to disk using `to_XYZ`, where `XYZ` is a file format.
  - `df.to_csv('filename.csv')` saves to a CSV (Comma Separated Values) file.
  - `df.to_excel('filename.xlsx')` saves to an Excel file.
  - `df.to_json('filename.json')` saves to a JSON (JavaScript Object Notation) file.
  - `df.to_pickle('filename.pkl')` saves to a Pickle file (a compact binary format).
- A `Series` or `DataFrame` can be loaded from disk using `pd.read_XYZ`, where `XYZ` is a file format.
  - `df = pd.read_csv('filename.csv')` loads from a CSV file.
  - `df = pd.read_excel('filename.xlsx')` loads from a Excel file.
  - `df = pd.read_json('filename.json')` loads from a JSON file.
  - `df = pd.read_pickle('filename.pkl')` loads from a Pickle file.

---
## 15.2 Saving a DataFrame to a CSV, Excel, JSON, and a Pickle File
- Let’s say we want to save the `DataFrame` below, and then load it back again, where we want to preserve all data with data types (`dtype`), index type, etc.

In [24]:
index = pd.Index([0,1], dtype='int32', name='idx')

df = pd.DataFrame(
    {
        'employeeid': pd.Series([1, 2], dtype='int64'),
        'name': pd.Series(['John', 'Jane'], dtype='string'),
        'age': pd.Series([25, 22], dtype='int32'),
        'salary': pd.Series([25000, 22000], dtype='float32'),
        'fulltime': pd.Series([True, False], dtype='bool'),
        'hiredate': pd.Series(['2001-01-01', '2002-02-02'], dtype='datetime64[ns]')
    },
    index=index)

print(f'{df}\n')
print(f'{df.dtypes}\n')
print(f'{df.index}\n')

     employeeid  name  age   salary  fulltime   hiredate
idx
0             1  John   25  25000.0      True 2001-01-01
1             2  Jane   22  22000.0     False 2002-02-02

employeeid             int64
name          string[python]
age                    int32
salary               float32
fulltime                bool
hiredate      datetime64[ns]
dtype: object

Index([0, 1], dtype='int32', name='idx')

- When we save the `DataFrame`, and want to include as much information as possible:
  - `df.to_csv('employees.csv')` saves to a CSV file.
  - `df.to_excel('employees.xlsx')` saves to an Excel file.
  - `df.to_json('employees.json', orient='index')` saves to a JSON file.
  - `df.to_pickle('employees.pkl')` saves to a Pickle file.
- Notice we need `orient='index'` to include the index when saving to a JSON file.
  - If we don’t want to save the index in the file, we omit `orient='index'`.
- When saving to CSV or Excel, the index is included in the file by default.
  - If we don’t want to save the index in the file, we can use `index=False`.
- A Pickle file saves all information.

In [20]:
df.to_csv('employees.csv')
df.to_excel('employees.xlsx')
df.to_json('employees.json', orient='index')
df.to_pickle('employees.pkl')

---
## 15.3 Loading a DataFrame from a CSV File

- When we load the `DataFrame` from a CSV file, and want the original `DataFrame` fully recreated:
  - We need to specify the data types for each column via the `dtype` parameter.
  - We need to specify the columns of type `datetime64` separately via the `parse_dates` parameter.
  - We need to explicitly set the index type we want after we have loaded the file.

In [26]:
dt = {'employeeid': 'int64',
      'name': 'string',
      'age': 'int32',
      'salary': 'float32',
      'fulltime': 'bool'}

pds=['hiredate']

df = pd.read_csv('employees.csv', dtype=dt, parse_dates=pds, index_col='idx')

df.index = pd.Index(df.index, dtype='int32', name='idx')

print(f'{df}\n')
print(f'{df.dtypes}\n')
print(f'{df.index}\n')

     employeeid  name  age   salary  fulltime   hiredate
idx
0             1  John   25  25000.0      True 2001-01-01
1             2  Jane   22  22000.0     False 2002-02-02

employeeid             int64
name          string[python]
age                    int32
salary               float32
fulltime                bool
hiredate      datetime64[ns]
dtype: object

Index([0, 1], dtype='int32', name='idx')

---
## 15.4 Loading a DataFrame from an Excel File

- When we load the `DataFrame` from a XLSX file, and want the original `DataFrame` fully recreated:
  - We need to specify the data types for each column via the `dtype` parameter.
  - We need to specify the columns of type `datetime64` separately via the `parse_dates` parameter.
  - We need to explicitly set the index type we want after we have loaded the file.

In [27]:
dt = {'employeeid': 'int64',
      'name': 'string',
      'age': 'int32',
      'salary': 'float32',
      'fulltime': 'bool'}

pds=['hiredate']

df = pd.read_excel('employees.xlsx', dtype=dt, parse_dates=pds, index_col='idx')

df.index = pd.Index(df.index, dtype='int32', name='idx')

print(f'{df}\n')
print(f'{df.dtypes}\n')
print(f'{df.index}\n')

     employeeid  name  age   salary  fulltime   hiredate
idx
0             1  John   25  25000.0      True 2001-01-01
1             2  Jane   22  22000.0     False 2002-02-02

employeeid             int64
name          string[python]
age                    int32
salary               float32
fulltime                bool
hiredate      datetime64[ns]
dtype: object

Index([0, 1], dtype='int32', name='idx')

---
## 15.5 Loading a DataFrame from a JSON File

- When we load the `DataFrame` from a JSON file, and want the original `DataFrame` fully recreated:
  - We need to specify the data types for each column using the `dtype` parameter.
  - We need to specify `orient='index'` to include the index from the file.
  - We need to explicitly set the index type we want after we have loaded the file.
  - We need to explicitly convert columns of type `datetime64` with `pd.to_datetime()` after
loading the file.

In [29]:
dt = {'employeeid': 'int64',
      'name': 'string',
      'age': 'int32',
      'salary': 'float32',
      'fulltime': 'bool'}

df = pd.read_json('employees.json', dtype=dt, orient='index')

df.index = pd.Index(df.index, dtype='int32', name='idx')

df['hiredate'] = pd.to_datetime(df['hiredate'], unit='ms')

print(f'{df}\n')
print(f'{df.dtypes}\n')
print(f'{df.index}\n')

     employeeid  name  age   salary  fulltime   hiredate
idx
0             1  John   25  25000.0      True 2001-01-01
1             2  Jane   22  22000.0     False 2002-02-02

employeeid             int64
name          string[python]
age                    int32
salary               float32
fulltime                bool
hiredate      datetime64[ns]
dtype: object

Index([0, 1], dtype='int32', name='idx')

---
## 15.6 Loading a DataFrame from a Pickle File

- When we load the `DataFrame` from a PKL file, and want the original `DataFrame` fully recreated:
  - We just have to load the pickle file since all information is already included in the file.
  - So, to preserve all information when saving and loading a `DataFrame` or `Series`, use pickle.

In [31]:
df = pd.read_pickle('employees.pkl')

print(f'{df}\n')
print(f'{df.dtypes}\n')
print(f'{df.index}\n')

     employeeid  name  age   salary  fulltime   hiredate
idx
0             1  John   25  25000.0      True 2001-01-01
1             2  Jane   22  22000.0     False 2002-02-02

employeeid             int64
name          string[python]
age                    int32
salary               float32
fulltime                bool
hiredate      datetime64[ns]
dtype: object

Index([0, 1], dtype='int32', name='idx')

---
# 16. Cleanup
---

- Let's remove all files that have been created by this notebook.

In [33]:
import os, shutil

dirs = []
files = ['employees.csv', 'employees.xlsx', 'employees.json', 'employees.pkl']

for d in dirs:
    if os.path.exists(d):
        shutil.rmtree(d)

for f in files:
    if os.path.exists(f):
        os.remove(f)